<% if(errorMsg.length > 0){ %>
    <div class="user-message user-message--error">
        <%= errorMsg %>
    </div>
<% } %>

<% if(successMsg.length > 0){ %>
    <div class="user-message user-message--success">
        <%= successMsg %>
    </div>
<% } %>
