<%- include('partials/head.ejs') %>
</head>
<body>
	
<%- include('partials/navigation.ejs') %>
<h1>An Error Occured!</h1>
<p>something went wrong! please try after some time.</p>

<%- include('partials/end.ejs') %>
